.BattleModal-battle-span {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.BattleModal-battle-icon {
  height: 32px;
  margin-right: 8px;
}

.BattleModal-battle-stage {
  margin-bottom: 8px;
  max-width: 240px;
  width: 100%;
}

.BattlesModal-battle-progress {
  margin-right: 8px;
  max-width: 400px;
}

.BattlesModal-battle-progress .ant-progress-bg {
  background-color: #eb2f96;
}

.BattlesModal-battle-progress .ant-progress-inner {
  background-color: #52c41a;
}

.BattleModal-battle-star {
  font-size: 10px;
  vertical-align: super;
}
