.JobModal-job-span {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.JobModal-job-icon {
  height: 24px;
  margin-right: 8px;
}

.JobModal-job-stage {
  margin-bottom: 8px;
  max-width: 240px;
  width: 100%;
}

.JobModal-job-weapon-image {
  width: 32px;
}

.JobModal-job-weapon-image-adj {
  margin-left: 8px;
  width: 32px;
}

.JobModal-job-progress {
  margin-right: 8px;
  max-width: 400px;
}

.JobModal-job-tag {
  margin-left: 8px;
  margin-right: 0;
}

.JobModal-waves-tag {
  margin: 0;
}

.JobModal-wave-progress {
  max-width: 400px;
}

.JobModal-players-span {
  display: flex;
  align-items: center;
}

.JobModal-players-player-icon {
  height: 32px;
  border-radius: 16px;
  margin-right: 8px;
}

.JobModal-players-icon {
  height: 32px;
}

.JobModal-players-icon-adj {
  height: 32px;
  margin-left: 8px;
}

.JobModal-players-tag {
  margin-left: 8px;
  margin-right: 0;
}

.JobModal-players-expand-icon {
  height: 32px;
  margin-right: 8px;
}

.JobModal-players-expand .ant-table-footer {
  border-bottom: 2px solid #e8e8e8;
  padding: 4px 16px;
}

.JobModal-players-progress {
  max-width: 400px;
}

.JobModal-players-progress .ant-progress-success-bg {
  background-color: #fa541c;
}

.JobModal-salmoniods-icon {
  height: 32px;
  margin-right: 8px;
}

.JobModal-salmoniods-progress {
  max-width: 400px;
}
