.ScheduleCard-schedule {
  cursor: default;
  display: inline-block;
  max-width: 442px;
  margin: 6px;
}

.ScheduleCard-schedule-stage {
  cursor: default;
  display: inline-block;
  margin: 6px;
}

.ScheduleCard-schedule-stage-meta {
  margin: 6px;
}

.ScheduleCard-schedule-meta {
  margin: 6px 6px 6px 9px;
}

.ScheduleCard-schedule-meta-image {
  width: 32px;
}
