.ScheduleCard-schedule {
  cursor: default;
  display: inline-block;
  max-width: 442px;
  margin: 6px;
}

.ScheduleCard-schedule-stage {
  cursor: default;
  display: inline-block;
  margin: 6px;
  width: 202px;
}

.ScheduleCard-schedule-stage-cover {
  height: 112.5px;
}

.ScheduleCard-schedule-stage-meta {
  margin: 6px;
}

.ScheduleCard-schedule-meta {
  margin: 6px 6px 6px 9px;
}

.ScheduleCard-schedule-meta-image {
  width: 32px;
}

@media screen and (max-width: 596px) {
  .ScheduleCard-schedule-stage {
    width: auto;
  }

  .ScheduleCard-schedule-stage-cover {
    height: auto;
  }
}
