.BattlesWindow-content-tag {
  margin: 0;
}

.BattlesWindow-content-tag-adj {
  margin-left: 8px;
  margin-right: 0;
}

.BattlesWindow-content-table-progress-win .ant-progress-bg {
  background-color: #eb2f96;
}

.BattlesWindow-content-table-progress-win .ant-progress-inner {
  background-color: #f5f5f5;
}

.BattlesWindow-content-table-progress-lose .ant-progress-bg {
  background-color: #f5f5f5;
}

.BattlesWindow-content-table-progress-lose .ant-progress-inner {
  background-color: #52c41a;
}

.BattlesWindow-content-table-icon {
  height: 32px;
}

.BattlesWindow-content-table-star {
  font-size: 10px;
  vertical-align: super;
}
