.DashboardWindow-content-alert {
  margin-bottom: 12px;
}

.DashboardWindow-content-column {
  margin-bottom: 16px;
}

.DashboardWindow-content-card {
  cursor: default;
}

.DashboardWindow-content-statistic .ant-statistic-content-prefix {
  margin-right: 0;
}

.DashboardWindow-content-statistic-star {
  font-size: 16px;
  vertical-align: super;
}

.DashboardWindow-content-statistic-icon {
  height: 32px;
  vertical-align: sub;
}

.DashboardWindow-content-card-welcome-icon {
  border-radius: 24px;
  margin-right: 8px;
  width: 48px;
}
