.DashboardWindow-header {
  align-items: center;
  background: #fff;
  display: flex;
  padding: 0 16px;
  position: fixed;
  width: 100%;
}

.DashboardWindow-header-icon {
  display: inline-block;
  margin-right: 18px;
  width: 32px;
}

.DashboardWindow-header-title {
  color: rgba(0, 0, 0, 0.85);
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  padding-right: 12px;
}

.DashboardWindow-content {
  background: #fff;
  margin: 80px 16px 16px 16px;
  padding: 16px;
  width: calc(100% - 32px);
}

.DashboardWindow-content-alert {
  margin-bottom: 12px;
}

.DashboardWindow-content-column {
  margin-bottom: 16px;
}

.DashboardWindow-content-statistic .ant-statistic-content-prefix {
  margin-right: 0;
}

.DashboardWindow-content-statistic-star {
  font-size: 16px;
  vertical-align: super;
}

.DashboardWindow-content-statistic-icon {
  height: 32px;
  vertical-align: sub;
}

.DashboardWindow-content-card-welcome-icon {
  border-radius: 24px;
  margin-right: 8px;
  width: 48px;
}
