.JobsWindow-content-tag {
  margin: 0;
}

.JobsWindow-content-tag-adj {
  margin-left: 8px;
  margin-right: 0;
}

.JobsWindow-content-table-icon {
  height: 32px;
}

.JobsWindow-content-table-icon-adj {
  height: 32px;
  margin-left: 8px;
}
