.LoginWindow-main {
  background: #fff;
  display: flex;
  flex-direction: column;
  margin: 16px 16px 16px 16px;
  min-height: calc(100vh - 32px);
  padding: 16px;
  width: calc(100% - 32px);
}

.LoginWindow-steps {
  margin: 8px;
  max-width: calc(100% - 16px);
}

.LoginWindow-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 48px 96px;
}

.LoginWindow-content-welcome {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.LoginWindow-content-welcome-logo {
  height: 256px;
  margin-bottom: 24px;
  pointer-events: none;
}

.LoginWindow-content-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.LoginWindow-content-input {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 48px 96px 0 96px;
}

.LoginWindow-content-input-form {
  margin: 24px 0 0 0;
}

.LoginWindow-content-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 48px;
}

.LoginWindow-content-button2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LoginWindow-content-done-icon {
  stroke-width: 0.5px;
}

@media screen and (max-width: 480px) {
  .LoginWindow-content {
    padding: 0;
  }

  .LoginWindow-content-welcome-logo {
    height: 192px;
    margin-bottom: 12px;
  }

  .LoginWindow-content-login {
    text-align: left;
  }

  .LoginWindow-content-input {
    margin: 24px 0 0 0;
  }

  .LoginWindow-content-input-form {
    margin: 12px 0 0 0;
  }

  .LoginWindow-content-button {
    margin-top: 24px;
  }
}
