.ShiftsWindow-header {
  align-items: center;
  background: #fff;
  display: flex;
  padding: 0 16px;
  position: fixed;
  width: 100%;
}

.ShiftsWindow-header-icon {
  display: inline-block;
  margin-right: 18px;
  width: 32px;
}

.ShiftsWindow-header-title {
  color: rgba(0, 0, 0, 0.85);
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  padding-right: 12px;
}

.ShiftsWindow-header-subtitle {
  color: rgba(0, 0, 0, 0.45);
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding-right: 12px;
}

.ShiftsWindow-content {
  background: #fff;
  margin: 80px 16px 16px 16px;
  padding: 16px;
  width: calc(100% - 32px);
}

.ShiftsWindow-content-card {
  display: inline-block;
  margin: 6px;
  max-width: 442px;
}
