.ShiftsWindow-content-card {
  display: inline-block;
  margin: 6px;
  max-width: 442px;
}

.ShiftsWindow-content-card-gear {
  display: inline-block;
  margin: 6px;
  max-width: 442px;
  width: calc(100% - 12px);
}
